@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,500,700&display=swap);

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark: #161b22;
    --color-darker: #0d1117;
    --color-darkgray: #30363d;
    --color-lightgray: #9aa0a7;
    --color-light: #acacac;
    --color-lighter: #cfcfcf;
    --color-background: var(--color-dark);
    --color-text-primary: var(--color-light);
    --hero-height: 10px;
    --aside-top-height: 130px;
    --footer-height: 100px;
    --color-accent1: #6cc644;
    --color-accent2: #c9510c;
    --color-accent3: #6e5494;
    --color-note-fg: #1f6feb;
    --color-tip-fg: #7ee787;
    --color-important-fg: #a371f7;
    --color-warning-fg: #d29922;
    --color-caution-fg: #f85149;
    --color-link-primary: #acacac;
    --color-link-secondary: #4168a3;
    --color-prettylights-syntax-comment: #8b949e;
    --color-prettylights-syntax-constant: #79c0ff;
    --color-prettylights-syntax-entity: #d2a8ff;
    --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
    --color-prettylights-syntax-entity-tag: #7ee787;
    --color-prettylights-syntax-keyword: #ff7b72;
    --color-prettylights-syntax-string: #a5d6ff;
    --color-prettylights-syntax-variable: #ffa657;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
    --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
    --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    --color-prettylights-syntax-carriage-return-bg: #b62324;
    --color-prettylights-syntax-string-regexp: #7ee787;
    --color-prettylights-syntax-markup-list: #f2cc60;
    --color-prettylights-syntax-markup-heading: #1f6feb;
    --color-prettylights-syntax-markup-italic: #c9d1d9;
    --color-prettylights-syntax-markup-bold: #c9d1d9;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg: #67060c;
    --color-prettylights-syntax-markup-inserted-text: #aff5b4;
    --color-prettylights-syntax-markup-inserted-bg: #033a16;
    --color-prettylights-syntax-markup-changed-text: #ffdfb6;
    --color-prettylights-syntax-markup-changed-bg: #5a1e02;
    --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
    --color-prettylights-syntax-markup-ignored-bg: #1158c7;
    --color-prettylights-syntax-meta-diff-range: #d2a8ff;
    --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
    --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
    --color-fg-default: #e6edf3;
    --color-fg-muted: #7d8590;
    --color-fg-subtle: #6e7681;
    --color-canvas-default: #0d1117;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
    --color-neutral-muted: rgba(110,118,129,0.4);
    --color-accent-fg: #2f81f7;
    --color-accent-emphasis: #1f6feb;
    --color-attention-fg: #d29922;
    --color-attention-subtle: rgba(187,128,9,0.15);
    --color-danger-fg: #f85149;
    --color-done-fg: #a371f7
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

::-webkit-scrollbar-track {
    background: 0 0
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-darkgray);
    border-radius: 5px;
    border: transparent
}

*, :after, :before {
    box-sizing: border-box
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth
}

body {
    font-family: 'Titillium Web','Segoe UI';
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 0;
    padding: 0
}

a {
    color: var(--color-white);
    text-decoration: none
}

    a:hover {
        text-decoration: underline
    }

summary {
    cursor: pointer;
    color: var(--color-accent1)
}

    summary.video {
        color: var(--color-accent2)
    }

header {
    width: 100%
}

    header h1 {
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: .45rem
    }

    header h2 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: .25rem;
        margin-top: .5rem
    }

#hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--hero-height);
    background-color: var(--color-dark);
    z-index: 1;
    border-bottom: 1px solid var(--color-darkgray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

header#hero {
    display: none
}

footer {
    display: block;
    width: 100%;
    height: var(--footer-height);
    position: relative;
    background-color: var(--color-dark);
    border-top: 1px solid var(--color-darkgray);
    display: none
}

.markdown-body section pre code.hljs {
    font-size: 1.25rem;
    overflow: visible
}

.markdown-body section pre {
    position: relative
}

button.copy {
    font-size: 1rem;
    font-family: 'Segoe UI';
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .5rem;
    background-color: var(--color-darkgray);
    color: var(--color-lighter);
    border: 0;
    border-radius: 5px;
    cursor: pointer
}

.no-copy pre button.copy {
    display: none
}

div.markdown-alert .d-inline-flex {
    gap: 5px
}

main {
    width: 1400px;
    margin: 0 auto;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--color-darker)
}

aside {
    width: 290px;
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 5px 10px 0 10px;
    padding-top: calc(var(--hero-height) + 20px)
}

    aside h1, aside h2, aside h3 {
        margin: 0;
        padding: 0;
        line-height: 1;
        letter-spacing: .1rem
    }

    aside h2 {
        margin-top: -.25rem;
        border-bottom: 1px solid var(--color-link-secondary);
        padding-bottom: .35rem
    }

    aside h3 {
        margin-top: .5rem
    }

    aside a {
        font-size: 1.2rem;
        font-weight: 400
    }

    aside h2 a {
        font-size: .8rem
    }

    aside h3 a {
        font-size: .75rem;
        color: var(--color-lightgray)
    }

    aside .top a:hover {
        text-decoration: none
    }

    aside .top {
        display: block;
        position: sticky;
        top: 0;
        padding-bottom: 20px;
        height: var(--aside-top-height)
    }

    aside nav {
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        height: calc(100vh - (var(--hero-height) + var(--aside-top-height) + 50px));
        padding: 0
    }

        aside nav ul {
            padding: 0;
            margin: 0
        }

            aside nav ul ul {
                padding-left: 10px
            }

        aside nav li {
            list-style: none;
            line-height: 1.6rem
        }

            aside nav li a {
                font-size: .9rem;
                border-left: 3px solid transparent;
                padding-left: 5px;
                padding-right: 8px
            }

                aside nav li a:hover {
                    background-color: var(--color-darkgray);
                    text-decoration: none
                }

            aside nav li > a {
                transition: border-left .5s ease-out
            }

            aside nav li.active > a {
                border-left: 3px solid var(--color-link-secondary);
                padding-left: 5px
            }

        aside nav ul ul li a {
            color: var(--color-lightgray)
        }

#content {
    padding: 10px;
    padding-top: calc(var(--hero-height) + 20px);
    float: right;
    width: calc(100% - 290px)
}

    #content .markdown-body {
        min-height: 20vh
    }

main section > h1 {
    margin-top: 0 !important
}

main section > h1, main section > h2, main section > h3, main section > h4, main section > h5, main section > h6 {
    letter-spacing: .2rem
}

#content nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid var(--color-darkgray);
    padding-top: 10px
}

    #content nav > a {
        display: block;
        font-size: 1.25rem;
        padding: 16px;
        min-width: 25%;
        text-align: center;
        color: var(--color-lightgray);
        background-color: var(--color-dark);
        border-radius: 6px;
        margin-bottom: 10px
    }

        #content nav > a:hover {
            color: var(--color-white);
            background-color: var(--color-darkgray);
            text-decoration: none
        }

        #content nav > a > .type {
            display: block;
            font-size: 1rem
        }

        #content nav > a.previous > .type::before {
            content: '←';
            padding-right: .8rem
        }

        #content nav > a.next > .type::after {
            content: '→';
            padding-left: .8rem
        }

        #content nav > a > .title {
            display: block;
            color: var(--color-link-secondary)
        }

.subtitle {
    display: block;
    max-height: 50vh;
    overflow-y: auto
}

.video-container {
    width: 100%;
    aspect-ratio: 16/9
}

#content .markdown-body .anchor {
    position: absolute
}

#content .markdown-body p {
    font-size: 1.2rem;
    color: var(--color-light);
    max-width: 80%;
    text-wrap: pretty;
    margin: 20px
}

#content .markdown-alert p {
    margin-bottom: .5rem;
    margin-left: 5px
}

#content .markdown-alert .markdown-alert-title {
    margin-bottom: .5rem;
    margin-left: 5px
}

    #content .markdown-alert .markdown-alert-title svg {
        margin-right: .5rem
    }

#content section p:has(span.ai-hidden) {
    height: 0;
    margin: 0;
    padding: 0
}

#content section p span.ai-hidden {
    font-size: 0 !important;
    color: transparent !important
}

#content .markdown-alert.markdown-alert-note .markdown-alert-title {
    color: var(--color-note-fg)
}

#content .markdown-alert.markdown-alert-note {
    border-left-color: var(--color-note-fg)
}

#content .markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: var(--color-tip-fg)
}

#content .markdown-alert.markdown-alert-tip {
    border-left-color: var(--color-tip-fg)
}

#content .markdown-alert.markdown-alert-important .markdown-alert-title {
    color: var(--color-important-fg)
}

#content .markdown-body .markdown-alert.markdown-alert-important {
    border-left-color: var(--color-important-fg)
}

#content .markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: var(--color-warning-fg)
}

#content .markdown-body .markdown-alert.markdown-alert-warning {
    border-left-color: var(--color-warning-fg)
}

#content .markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: var(--color-caution-fg)
}

#content .markdown-body .markdown-alert.markdown-alert-caution {
    border-left-color: var(--color-caution-fg)
}

body.no-sidebar main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

    body.no-sidebar main > #content {
        width: 100%;
        max-width: 1400px
    }

    body.no-sidebar main > aside {
        display: none
    }

@media (max-width:1400px) {
    main {
        width: 100%
    }

        main > aside {
            display: none
        }

        main > #content {
            width: 100%
        }
}
