#feedback-panel {
    font-family: Arial, sans-serif;
    background-color: white;
    position: fixed;
    left: 0;
    right: 412px;
    bottom: 0;
    height: 30%;
    border: 1px solid darkgray;
    padding: 12px 48px;
    z-index: 10001;
}

#feedback-panel a {
    cursor: pointer;
}

#feedback-panel a:hover {
    text-decoration: underline;
}

#feedback-panel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    gap: 12px;
    width: 100%;
    height: calc(100% - 24px);
    border: 0;
}

.feedback-panel-inner {
    background-color: #84adea;
    padding: 12px;
    color:#fff
    flex-grow: 1;
    min-width: 25%;
    height: 100%
}

.feedback-panel-inner .items {
    min-height: 75%;
    height: 75%;
    overflow-y: scroll;
    margin-bottom: 6px;
}

.feedback-panel-inner p {
    margin: 2px;
}

.feedback-panel-inner p a {
    margin-right: 1em;
}

.feedback-panel-inner .title {
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 4rem;
    text-align: center;
}

.feedback-panel-inner button {
    margin-top: 2px;
    margin-right: 2px;
}

.drop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 10002;
}

.drop p {
    background-color: white;
    padding: 24px;
    border: 1px solid black;
}

.settings-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 386px;
    height: 100%;
    background-color: white;
    border-left: 1px solid black;
    z-index: 10000;
    padding: 12px;
    display: none;
    flex-direction: column;
    gap: 12px;
}

#settings-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: .5rem;
}

#settings-button:hover {
    cursor: pointer;
}

.bookmark {
    background-color: #84adea;
}
